.items__block {
  width: 100%;
  max-width: 1920px;
}

.items__block .item__tab {
  width: 100%;
  max-width: 938px;
  max-height: 200px;
  height: 100%;
}

.items__block .item__tab__ele {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 16px;
  width: auto;
  cursor: pointer;
  color: #888888;
  -webkit-transition: 100ms all ease-in-out;
  -o-transition: 100ms all ease-in-out;
  transition: 100ms all ease-in-out;
  border-bottom: 3px solid transparent;
}

.items__block .item__tab__ele:hover {
  opacity: 0.85;
}

.items__block .item__tab__ele.active {
  color: #222222;
  border-bottom: 3px solid #222222;
}

.items__block .item__box {
  margin: 10px 0;
}

.items__block .item__box a {
  color: unset;
  text-decoration: unset;
}

.items__block .item__box .item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 25%;
  max-width: 100%;
  padding: 10px 6px;
  -webkit-transition: 100ms all ease-in-out;
  -o-transition: 100ms all ease-in-out;
  transition: 100ms all ease-in-out;
}

.items__block .item__box .item:hover {
  opacity: 0.85;
}

.items__block .item__box .item__image {
  position: relative;
  width: 100%;
  height: 220px;
}

.items__block .item__box .item__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.items__block .item__box .item__image::before, .items__block .item__box .item__image::after {
  background-size: 100%;
  background-position: center;
  content: '';
  position: absolute;
  -webkit-filter: drop-shadow(2px 2px 5px #00000067);
          filter: drop-shadow(2px 2px 5px #00000067);
}

.items__block .item__box .item__image::before {
  width: 20%;
  height: 36%;
  right: 10%;
  top: 0;
}

.items__block .item__box .item__image::after {
  width: 45%;
  height: 45%;
  bottom: 2%;
  left: 2%;
}

.items__block .item__box .item__image.top1::after {
  background-image: url("../images/product_category/top1.png");
}

.items__block .item__box .item__image.top2::after {
  background-image: url("../images/product_category/top2.png");
}

.items__block .item__box .item__image.top3::after {
  background-image: url("../images/product_category/top3.png");
}

.items__block .item__box .item__image.cate_event::before {
  background-image: url("../images/product_category/category_tag_event.png");
}

.items__block .item__box .item__image.cate_marry::before {
  background-image: url("../images/product_category/category_tag_marry.png");
}

.items__block .item__box .item__image.cate_culture::before {
  background-image: url("../images/product_category/category_tag_culture.png");
}

.items__block .item__box .item__image.cate_business::before {
  background-image: url("../images/product_category/category_tag_business.png");
}

.items__block .item__box .item__image.cate_festival::before {
  background-image: url("../images/product_category/category_tag_estival.png");
}

.items__block .item__box .item__name {
  width: 100%;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  padding: 10px 0 4px;
  overflow: hidden;
}

.items__block .item__box .item__divider {
  width: 100%;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #666666;
}

.items__block .item__box .item__price {
  width: 100%;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 7px 0;
  font-size: 1.5em;
}

.items__block .item__box .item__control {
  width: 100%;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 20px;
  position: relative;
}

.items__block .item__box .item__control .swiper-pagination {
  max-width: calc(100% - 120px);
  left: 0;
  right: 0;
  position: absolute;
  overflow: hidden;
  z-index: 1;
  margin: auto;
}

.items__block .item__box .item__control .swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}

.items__block .item__box .item__control .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #666666;
}

.items__block .item__box .item__control .swiper-button-next,
.items__block .item__box .item__control .swiper-button-prev {
  -webkit-transition: 100ms all ease-in-out;
  -o-transition: 100ms all ease-in-out;
  transition: 100ms all ease-in-out;
  z-index: 2;
  font-weight: bold;
  color: #888888;
  stroke: 2px solid #888888;
  -webkit-text-stroke-width: 1px;
}

.items__block .item__box .item__control .swiper-button-next:hover,
.items__block .item__box .item__control .swiper-button-prev:hover {
  opacity: 0.85;
}

.items__block .item__box .item__control .swiper-button-next::after,
.items__block .item__box .item__control .swiper-button-prev::after {
  font-size: 20px;
}

.items__block .item__box .item__more {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 20px 0;
}

.items__block .item__box .item__more .more__link {
  color: #555555;
  font-weight: bold;
  border-radius: 100px;
  border: 2px solid #888888;
  -webkit-transition: 100ms all ease-in-out;
  -o-transition: 100ms all ease-in-out;
  transition: 100ms all ease-in-out;
}

.items__block .item__box .item__more .more__link:hover {
  border-color: #BA0100;
  color: #BA0100;
}

.focus__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 100px 0 40px 0;
  width: 100%;
  max-width: 938px;
  position: relative;
}

.focus__block a {
  color: unset;
  text-decoration: unset;
}

.focus__block .focus__title__decoration {
  top: 25px;
  left: -10px;
  position: absolute;
  z-index: 2;
  font-size: 3em;
  color: #BA0100;
  width: 10px;
  line-height: 1.3em;
}

.focus__block .focus__images {
  -webkit-transition: 100ms all ease-in-out;
  -o-transition: 100ms all ease-in-out;
  transition: 100ms all ease-in-out;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

.focus__block .focus__images:hover {
  opacity: 0.85;
}

.focus__block .focus__image__box.main {
  width: 100%;
  max-width: 70.5%;
  margin: 0 12px 0 0;
}

.focus__block .focus__image__box a {
  height: 100%;
  width: 100%;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.focus__block .focus__image__box img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.focus__block .focus__image__box.second {
  width: 100%;
  max-width: 29.5%;
}

.focus__block .focus__image__box.second .img__box {
  width: 100%;
}

.focus__block .focus__image__box.second .img__box:first-child {
  padding-bottom: 14px;
}

.focus__block .focus__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-transition: 100ms all ease-in-out;
  -o-transition: 100ms all ease-in-out;
  transition: 100ms all ease-in-out;
  color: #555555;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
  max-width: 450px;
}

.focus__block .focus__info:hover {
  opacity: 0.85;
}

.focus__block .focus__title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: calc(100% - 30%);
  border-right: 2px solid #888888;
  padding: 0 10px 0 0;
  font-size: 1.1em;
}

.focus__block .focus__price {
  padding: 0 0 0 15px;
  width: 30%;
  font-width: bold;
  font-size: 1.5em;
  font-weight: bold;
}

.focus__block .focus__more {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 100%;
  padding: 20px 0;
}

.focus__block .focus__more .more__link {
  border-radius: 100px;
  border: 2px solid #888888;
  -webkit-transition: 100ms all ease-in-out;
  -o-transition: 100ms all ease-in-out;
  transition: 100ms all ease-in-out;
}

.focus__block .focus__more .more__link:hover {
  border-color: #BA0100;
  color: #BA0100;
}

.about__block {
  padding: 150px 0;
  color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__block .about__logo {
  max-width: 220px;
  font-size: 1.75em;
}

.about__block .about__content {
  margin: 60px 0 0 0;
  width: 100%;
  max-width: calc(100% - 600px);
  font-size: 1.3em;
}

@media all and (max-width: 1200px) {
  .items__block .item {
    padding: 5px 3px !important;
  }
  .items__block .item__image {
    height: 23vw !important;
  }
  .about__block .about__logo {
    text-align: center;
    max-width: 100%;
  }
  .about__block .about__content {
    max-width: 100%;
  }
}

@media all and (max-width: 720px) {
  .items__block .item__image {
    height: 46vw !important;
  }
}
